body{
   background-image: url("photo.jpg");
    background-size: cover;
} 
@media(max-width:937px){
    body{
        left: auto;
    }
}
h1{
    text-align: center;
    position: absolute;
    top: 30%;
    left: 70%;
    color:skyblue;
}
@media(max-width:1481px){
    h1{
        font-size:2cqmax;
    }
}
#clock{
    height: 100%;
    width: 100%;
}
div#clock{
    font-size: 70px;
}
@media(max-width:1478px){
    div #clock{
        font-size:4cqmax;
    }
}
.center{
    background-color: skyblue;
    height:80px;
    width:25%;
    position: absolute;
    top: 40%;
    left: 65%;
    border: 5px solid lavender;
    border-radius: 10px;
}
@media(min-width:360px){
    .center{
        position: absolute;
        right: auto;
        height: auto;
        width: auto;
        margin: auto;
    }
}
